/* Set the base font styles for the entire page */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
	min-height: 100vh;
}
main {
    overflow: auto;
}

/* Style the header */
.header {
    background-color: transparent;
    /* Make the background transparent */
    color: #FFFFFF;
    /* Text color */
    padding: 20px;
    /* Add padding around the content */
    display: flex;
    /* Use flex layout for positioning */
    justify-content: space-between;
    /* Space elements evenly */
    align-items: center;
    /* Vertically align items */
    position: relative;
    /* Enable relative positioning */
    z-index: 1;
    /* Set a stacking order for layers */
}

/* Style the logo image within the header */
header img {
    height: 80px;
    width: auto;
    margin-right: 10px;
    padding: 5px;
    border: none;
}

/* Style the navigation menu */
nav {
    background-color: transparent;
    /* Make the background transparent */
}

.cityNav {
    margin-left: auto;
}

nav ul {
    display: flex;
    /* Use flex layout for positioning */
    list-style: none;
    /* Remove default list bullets */
    margin: 0;
    padding: 0;
}

.cityNavUl {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: row;
}

nav li {
    margin: 0 10px;
    /* Add margin between menu items */
}

.homeLinkIndex {
    color: #FFFFFF;
    /* Text color for menu links */
    text-decoration: none;
    /* Remove underline from links */
    transition: color 0.3s ease-in-out;
    /* Smooth color transition */
}

.homeLinkCity {
    color: black;
    /* Text color for menu links */
    text-decoration: none;
    /* Remove underline from links */
    transition: color 0.3s ease-in-out;
}

/* Change link color on hover */
nav li a:hover {
    color: #800000;
    /* Hover color */
}

/* Style the main content area */
main {
    max-width: 800px;
    /* Maximum width of the main content */
    margin: 0 auto;
    /* Center the content horizontally */
    padding: 20px;
    /* Add padding around the content */
    padding-top: 80px;
    /* Add additional top padding */
}

/* Style section elements */
section {
    margin-bottom: 30px;
    /* Add margin at the bottom of sections */
}

/* Style h1 headings */
.indexh1 {
    margin-top: 0;
    font-size: 30px;
    color: #FFFFFF;
    margin-bottom: 15px;
    padding: 9px;
    /* Add padding around the heading */
    border-radius: 4px;
    /* Rounded corners for the heading */
}

h2 {
    margin-top: 0;
    font-size: 30px;
    color: #6495ED;
    margin-bottom: 15px;
    border: none;
    padding: 9px;
    border-radius: 4px;
}

.cityh2 {
    text-align: center;
    margin: 0;
    /* Remove margin to prevent spacing */
    flex-grow: 1;
    /* Allow h2 to take available space */
}
/* Style for the footer on the index page */
.index-footer {
    color: #FFFFFF; /* Text color */
}
/* Style for the footer on the city page */
.city-footer {
    color: #6495ED; /* Text color */
}

/* Style the footer */
footer {
     font-size: 19px;
    /* Font size for footer text */
    background-color: transparent;
    /* Make the background transparent */
    color: #FFFFFF;
    /* Text color */
    padding: 20px;
    /* Add padding around the footer */
    text-align: center;
    /* Center-align footer text */
    position: fixed;
    /* Fix the footer to the bottom */
    bottom: 0;
    /* Position at the bottom of the viewport */
    width: 100%;
    /* Full width footer */
    z-index: 999; /* Ensure it's above other elements */
}

/* Style the slideshow container */
.slideshow-container {
    position: fixed;
    /* Fix the slideshow to the viewport */
    top: 0;
    /* Position at the top of the viewport */
    left: 0;
    /* Position at the left of the viewport */
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    z-index: -1;
    /* Place behind other elements */
}

/* Style individual slideshow images */
.mySlides {
    display: none;
    /* Hide slideshow images by default */
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    object-fit: cover;
    /* Scale images to cover the entire container */
}

/* Style the dropdown container */
.container {
    position: absolute;
    /* Absolute positioning for centering */
    top: 50%;
    /* Position at 50% from the top */
    left: 50%;
    /* Position at 50% from the left */
    transform: translate(-50%, -50%);
    /* Center the container */
    text-align: center;
    /* Center-align text within the container */
}

/* Style the dropdown box */
select {
    padding: 20px;
    /* Add padding to the dropdown box */
    font-size: 16px;
    /* Font size for the dropdown text */
    border: 1px solid #ccc;
    /* Border around the dropdown */
    border-radius: 5px;
    /* Rounded corners for the dropdown */
}

/* Style for the dropdown options */
select option {
    font-size: 20px;
    /* Font size for dropdown options */
}

/* To give bottom padding for when the row wraps underneath on smaller screens */
.row>.col-6 {
    margin-bottom: 2rem;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    object-fit: cover;
    height: 200px;
}

.card-text {
    display: none;
}

.card:hover .card-text {
    display: block;
}

.page-background {
    background-color: #f2f2f2;

}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  h2 {
            text-align: center;
            color: #6495ED;
        }